

        <footer class="footer-sec">
            
    <div class="footer-line"></div>
    <div class="container">
      <div class="row footer-info">
        <div class="col-md-4">
          <div class="designer">
            <h5 class="footer-title">DESIGNER</h5>
            <p>Forough Zarei</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="subjectstd">
            <h5 class="footer-title">SUBJECT OF STUDY</h5>
            <p>ISE Master of Computer Engineering</p>
          </div>
        </div>
        <div class="col-md-4 myemail">
          <div class="myemail">
            <h5 class="footer-title">EMAIL ADDRESS</h5>
              <p>forough.zarei@stud-uni.due</p>
          </div>
        </div>
      </div>
    </div>
  
     <div class="footer-copyright">
        <p>Copyright © 2022 All Rights Reserved by Forough Zarei.</p>
    </div>

        </footer>

        
